//* в header
// наведение на логотип
@keyframes contacts {
	from {
		top: 50%;
		bottom: 50%;
		left: 50%;
		right: 50%;
		opacity: 0;
	}

	to {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
}

@keyframes circle {
	from {
		border-top: 3px solid transparent;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
	}

	0.5% {
		border-top: 3px solid #fff;
		border-right: 3px solid transparent;
	}

	1% {
		border-right: 3px solid #fff;
		border-bottom: 3px solid transparent;
	}

	1.5% {
		border-bottom: 3px solid #fff;
		border-left: 3px solid transparent;
	}

	2% {
		border-left: 3px solid #fff;
	}

	15% {
		border-top: 3px solid transparent;
	}

	15.5% {
		border-right: 3px solid transparent;
	}

	16% {
		border-bottom: 3px solid transparent;
	}

	16.5% {
		border-left: 3px solid transparent;
	}


	to {
		border-top: 3px solid transparent;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
	}
}




//* Основной блок
// Пульс
$range-max: 4px;
$range-min: 1px;

@keyframes rhythm-tag-horz {
	from {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	1% {
		width: $width-horz-tag + $range-max;
		height: $height-horz-tag + $range-max;
	}

	2% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	3% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	4% {
		width: $width-horz-tag + $range-min;
		height: $height-horz-tag + $range-min;
	}

	5% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	to {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}
}

@keyframes rhythm-tag-horz-slim {
	from {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	1% {
		width: $width-horz-tag - $d-slim-tag + $range-max;
		height: $height-horz-tag + $range-max;
	}

	2% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	3% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	4% {
		width: $width-horz-tag - $d-slim-tag + $range-min;
		height: $height-horz-tag + $range-min;
	}

	5% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	to {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}
}

@keyframes rhythm-tag-vert {
	from {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	1% {
		width: $width-vert-tag + $range-max;
		height: $height-vert-tag + $range-max;
	}

	2% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	3% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	4% {
		width: $width-vert-tag + $range-min;
		height: $height-vert-tag + $range-min;
	}

	5% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	to {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}
}

@keyframes rhythm-tag-vert-slim {
	from {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	1% {
		width: $width-vert-tag + $range-max;
		height: $height-vert-tag - $d-slim-tag + $range-max;
	}

	2% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	3% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	4% {
		width: $width-vert-tag + $range-min;
		height: $height-vert-tag - $d-slim-tag + $range-min;
	}

	5% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	to {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}
}


// дыхание окон
@keyframes info-opacity {
	from {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	90% {
		opacity: 0;
	}

	to {
		opacity: 0;
	}
}

// перемещение окон
@keyframes info-text {

	// * Квадрат слева направо и сверху вниз
	// 1
	from {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}

	10.99% {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}

	// 6
	11% {
		clip-path: polygon(66.67% 33.3%, 66.67% 66.67%, 100% 66.67%, 100% 33.3%);
	}

	21.99% {
		clip-path: polygon(66.67% 33.3%, 66.67% 66.67%, 100% 66.67%, 100% 33.3%);
	}

	// 4
	22% {
		clip-path: polygon(0% 33.3%, 0% 66.67%, 33.3% 66.67%, 33.3% 33.3%);
	}

	32.99% {
		clip-path: polygon(0% 33.3%, 0% 66.67%, 33.3% 66.67%, 33.3% 33.3%);
	}

	//  9
	33% {
		clip-path: polygon(66.67% 66.67%, 66.67% 100%, 100% 100%, 100% 66.67%);
	}

	43.99% {
		clip-path: polygon(66.67% 66.67%, 66.67% 100%, 100% 100%, 100% 66.67%);
	}

	// 2
	44% {
		clip-path: polygon(33.3% 0%, 33.3% 33.3%, 66.67% 33.3%, 66.67% 0%);
	}

	54.99% {
		clip-path: polygon(33.3% 0%, 33.3% 33.3%, 66.67% 33.3%, 66.67% 0%);
	}

	// 7
	55% {
		clip-path: polygon(0% 66.67%, 0% 100%, 33.3% 100%, 33.3% 66.67%);
	}

	65.99% {
		clip-path: polygon(0% 66.67%, 0% 100%, 33.3% 100%, 33.3% 66.67%);
	}

	// 3
	66% {
		clip-path: polygon(66.67% 0%, 66.67% 33.3%, 100% 33.3%, 100% 0%);
	}

	76.99% {
		clip-path: polygon(66.67% 0%, 66.67% 33.3%, 100% 33.3%, 100% 0%);
	}

	// 8
	77% {
		clip-path: polygon(33.3% 66.67%, 33.3% 100%, 66.67% 100%, 66.67% 66.67%);
	}

	87.99% {
		clip-path: polygon(33.3% 66.67%, 33.3% 100%, 66.67% 100%, 66.67% 66.67%);
	}

	// 5
	88% {
		clip-path: polygon(33.3% 33.3%, 33.3% 66.67%, 66.67% 66.67%, 66.67% 33.3%);
	}

	99.99% {
		clip-path: polygon(33.3% 33.3%, 33.3% 66.67%, 66.67% 66.67%, 66.67% 33.3%);
	}

	to {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}
}


//* Нижний блок (программа)


@keyframes transition-program {
	from {
		width: 0;
		height: 0;
		overflow: hidden;
	}

	50% {
		width: 100%;
		height: calc(100%-50px);
	}

	99% {
		overflow: hidden;
	}

	to {
		width: 100%;
		height: calc(100%-50px);
		overflow: visible;
	}
}