//* в header
@keyframes circle {
	from {
		border-top: 3px solid transparent;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
	}

	0.5% {
		border-top: 3px solid #fff;
		border-right: 3px solid transparent;
	}

	1% {
		border-right: 3px solid #fff;
		border-bottom: 3px solid transparent;
	}

	1.5% {
		border-bottom: 3px solid #fff;
		border-left: 3px solid transparent;
	}

	2% {
		border-left: 3px solid #fff;
	}

	15% {
		border-top: 3px solid transparent;
	}

	15.5% {
		border-right: 3px solid transparent;
	}

	16% {
		border-bottom: 3px solid transparent;
	}

	16.5% {
		border-left: 3px solid transparent;
	}


	to {
		border-top: 3px solid transparent;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
	}
}




//* Основной блок
// Пульс
$range-max: 5px;
$range-min: 2px;

@keyframes rhythm-tag-horz {
	from {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	1% {
		width: $width-horz-tag + $range-max;
		height: $height-horz-tag + $range-max;
	}

	2% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	3% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	4% {
		width: $width-horz-tag + $range-min;
		height: $height-horz-tag + $range-min;
	}

	5% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	to {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}
}

@keyframes rhythm-tag-horz-slim {
	from {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	1% {
		width: $width-horz-tag - $d-slim-tag + $range-max;
		height: $height-horz-tag + $range-max;
	}

	2% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	3% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	4% {
		width: $width-horz-tag - $d-slim-tag + $range-min;
		height: $height-horz-tag + $range-min;
	}

	5% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	to {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}
}

@keyframes rhythm-tag-vert {
	from {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	1% {
		width: $width-vert-tag + $range-max;
		height: $height-vert-tag + $range-max;
	}

	2% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	3% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	4% {
		width: $width-vert-tag + $range-min;
		height: $height-vert-tag + $range-min;
	}

	5% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	to {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}
}

@keyframes rhythm-tag-vert-slim {
	from {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	1% {
		width: $width-vert-tag + $range-max;
		height: $height-vert-tag - $d-slim-tag + $range-max;
	}

	2% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	3% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	4% {
		width: $width-vert-tag + $range-min;
		height: $height-vert-tag - $d-slim-tag + $range-min;
	}

	5% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	to {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}
}


// дыхание окон
@keyframes info-opacity {
	from {
		width: 100%;
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	90% {
		opacity: 0;
	}

	to {
		width: 100%;
		opacity: 0;
	}
}

// перемещение окон
$point-up: 50% 70%;
$point-down: 50% 80%;

@keyframes info-text {

	// Алмаз
	from {
		clip-path: polygon(50% 50%, 85% 0%, 95% 0%, 100% 15%, $point-up, 0% 15%, 5% 0%, 15% 0%);
	}

	33.3% {
		clip-path: polygon(50% 30%, 65% 0%, 95% 0%, 100% 20%, $point-down, 0% 20%, 5% 0%, 35% 0%);
	}

	// Огонь
	33.4% {
		clip-path: polygon(50% 50%, 75% 30%, 100% 100%, $point-up, 0% 100%, 25% 30%);
	}

	66.6% {
		clip-path: polygon(50% 30%, 90% 15%, 100% 100%, $point-down, 0% 100%, 10% 15%);
	}

	// Птаха
	66.7% {
		clip-path: polygon(50% 20%, 70% 35%, 50% 80%, 30% 35%);
	}

	to {
		clip-path: polygon(70% 10%, 80% 50%, 30% 90%, 15% 15%);
	}
}