//* в header
// наведение на логотип
@keyframes contacts {
	from {
		top: 50%;
		bottom: 50%;
		left: 50%;
		right: 50%;
		opacity: 0;
	}

	to {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
}

@keyframes circle {
	from {
		border-top: 3px solid transparent;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
	}

	0.5% {
		border-top: 3px solid #fff;
		border-right: 3px solid transparent;
	}

	1% {
		border-right: 3px solid #fff;
		border-bottom: 3px solid transparent;
	}

	1.5% {
		border-bottom: 3px solid #fff;
		border-left: 3px solid transparent;
	}

	2% {
		border-left: 3px solid #fff;
	}

	15% {
		border-top: 3px solid transparent;
	}

	15.5% {
		border-right: 3px solid transparent;
	}

	16% {
		border-bottom: 3px solid transparent;
	}

	16.5% {
		border-left: 3px solid transparent;
	}


	to {
		border-top: 3px solid transparent;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
	}
}




//* Основной блок
// Пульс
$range-max: 5px;
$range-min: 2px;

@keyframes rhythm-tag-horz {
	from {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	1% {
		width: $width-horz-tag + $range-max;
		height: $height-horz-tag + $range-max;
	}

	2% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	3% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	4% {
		width: $width-horz-tag + $range-min;
		height: $height-horz-tag + $range-min;
	}

	5% {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}

	to {
		width: $width-horz-tag;
		height: $height-horz-tag;
	}
}

@keyframes rhythm-tag-horz-slim {
	from {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	1% {
		width: $width-horz-tag - $d-slim-tag + $range-max;
		height: $height-horz-tag + $range-max;
	}

	2% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	3% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	4% {
		width: $width-horz-tag - $d-slim-tag + $range-min;
		height: $height-horz-tag + $range-min;
	}

	5% {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}

	to {
		width: $width-horz-tag - $d-slim-tag;
		height: $height-horz-tag;
	}
}

@keyframes rhythm-tag-vert {
	from {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	1% {
		width: $width-vert-tag + $range-max;
		height: $height-vert-tag + $range-max;
	}

	2% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	3% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	4% {
		width: $width-vert-tag + $range-min;
		height: $height-vert-tag + $range-min;
	}

	5% {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}

	to {
		width: $width-vert-tag;
		height: $height-vert-tag;
	}
}

@keyframes rhythm-tag-vert-slim {
	from {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	1% {
		width: $width-vert-tag + $range-max;
		height: $height-vert-tag - $d-slim-tag + $range-max;
	}

	2% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	3% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	4% {
		width: $width-vert-tag + $range-min;
		height: $height-vert-tag - $d-slim-tag + $range-min;
	}

	5% {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}

	to {
		width: $width-vert-tag;
		height: $height-vert-tag - $d-slim-tag;
	}
}


// дыхание окон
@keyframes info-opacity {
	from {
		width: 100%;
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	90% {
		opacity: 0;
	}

	to {
		width: 100%;
		opacity: 0;
	}
}

// перемещение окон
@keyframes info-text {

	// Алмаз
	from {
		clip-path: polygon(20% 0%, 15% 20%, 50% 70%, 85% 20%, 80% 0%);
	}

	33.3% {
		clip-path: polygon(20% 0%, 15% 20%, 50% 70%, 85% 20%, 80% 0%);
	}

	// Огонь
	33.4% {
		clip-path: polygon(5% 100%, 0% 80%, 30% 20%, 50% 60%, 70% 20%, 100% 80%, 95% 100%);
	}

	66.6% {
		clip-path: polygon(5% 100%, 0% 80%, 30% 20%, 50% 60%, 70% 20%, 100% 80%, 95% 100%);
	}

	// Птаха
	66.7% {
		clip-path: polygon(0% 100%, 0% 0%, 20% 30%, 50% 10%, 80% 30%, 100% 0%, 100% 100%, 80% 40%, 50% 75%, 20% 40%);
	}

	to {
		clip-path: polygon(0% 100%, 0% 0%, 20% 30%, 50% 10%, 80% 30%, 100% 0%, 100% 100%, 80% 40%, 50% 75%, 20% 40%);
	}
}