footer {
	height: 70px;
	line-height: 70px;
	position: relative;
	background-color: $background-dark;

	// Настройка горизонтальной ориентации экрана 1-4 (+ header и main)
	@media (min-aspect-ratio: $proportion-land) {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 120px;
		height: 100%;
	}

	// Лёгкая версия 1-3	(везде)
	&.light {
		display: block;
		width: 100%;
	}
}

// Надпись
.copyright {
	color: $text-info;
	text-align: right;
	margin-right: 30px;

	// Настройка горизонтальной ориентации экрана 2-4
	@media (min-aspect-ratio: $proportion-land) {
		text-align: center;
		margin-right: 0;
	}

	@include mobile {
		margin-right: 10px;
	}

	// Для сверх узких экранов 1-1 (+ header и main)
	@media (max-width: $slim-screen-tag) and (orientation: portrait),
	(max-height: $slim-screen-tag) and (orientation: landscape) {
		display: none;
	}

	// Лёгкая версия 2-3
	&.light {
		display: block;
		margin-right: 30px;
		text-align: right;
	}

	// Отключение полной надписи для малых экранов
	&__full {

		// Настройка горизонтальной ориентации экрана 3-4
		@media (min-height: $screen-off) and (min-aspect-ratio: $proportion-land) {
			display: none;
		}

		@include tablet {
			display: none;
		}
	}
}

// Кнопка "Закрыть всё" для полноэкранного режима для touch-устройств
.close-all {
	display: none;
	@include position-center;
	width: 60px;
	height: 60px;
	border-radius: 30px; // чтобы при растягивании был прямоугольник
	border: 2px solid $background-dark;
	fill: $background-dark;
	opacity: 0.5;
	transition: all $timeout;

	// Переход в полноэкранный режим (+ main)
	@include screen-full {
		display: block;
	}

	// Лёгкая версия 3-3
	&.light {
		display: none;
	}

	// Х внутри кнопки
	& svg {
		@include position-center;
	}

	// Поведение при наведении
	&.hover {
		width: 180px;
		height: 60px;
		border: 2px solid #aaa;
		fill: #aaa;
		opacity: 1;

		// Настройка горизонтальной ориентации экрана 4-4
		@media (min-aspect-ratio: $proportion-land) {
			width: 60px;
			height: 180px;
		}
	}
}