.left,
.right {

	&__content {
		display: flex;
		flex-direction: column;

		padding: 20px;

		&-img {
			width: 100%;
			height: calc(100% - 50px);
			overflow: hidden;

			// & picture {
			// 	width: 100%;
			// 	height: auto;
			// }
		}

		&-label {
			height: 50px;
		}
	}
}


.info__left,
.info__right {

	& h2 {
		margin: 0 0 20px 30px;
		font-weight: 700;
	}
}