.up {

	&__radio {
		display: none;
	}

	& label {
		margin-right: 30px;
		padding: 5px 10px;
		font-size: 16px;
	}

	& p {
		display: none;
		margin-top: 30px;
	}
}

.info {
	opacity: 0;
	animation: info-opacity infinite 8s linear;

	&__up {
		padding: 20px;
		animation: info-text infinite 72s linear;

		& p {
			display: none;
		}
	}
}

#concept:checked~.wrap__center .label-concept,
#history:checked~.wrap__center .label-history,
#about:checked~.wrap__center .label-about {
	font-size: 20px;
	font-weight: 700;
	border-bottom: 3px solid $title-light;
}

#concept:checked~.wrap__center .text-concept,
#history:checked~.wrap__center .text-history,
#about:checked~.wrap__center .text-about {
	display: block;
}

@keyframes info-opacity {
	from {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	90% {
		opacity: 0;
	}

	to {
		opacity: 0;
	}
}

@keyframes info-text {

	// * Квадрат слева направо и сверху вниз
	// 1
	from {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}

	10.99% {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}

	// 6
	11% {
		clip-path: polygon(66.67% 33.3%, 66.67% 66.67%, 100% 66.67%, 100% 33.3%);
	}

	21.99% {
		clip-path: polygon(66.67% 33.3%, 66.67% 66.67%, 100% 66.67%, 100% 33.3%);
	}

	// 4
	22% {
		clip-path: polygon(0% 33.3%, 0% 66.67%, 33.3% 66.67%, 33.3% 33.3%);
	}

	32.99% {
		clip-path: polygon(0% 33.3%, 0% 66.67%, 33.3% 66.67%, 33.3% 33.3%);
	}

	//  9
	33% {
		clip-path: polygon(66.67% 66.67%, 66.67% 100%, 100% 100%, 100% 66.67%);
	}

	43.99% {
		clip-path: polygon(66.67% 66.67%, 66.67% 100%, 100% 100%, 100% 66.67%);
	}

	// 2
	44% {
		clip-path: polygon(33.3% 0%, 33.3% 33.3%, 66.67% 33.3%, 66.67% 0%);
	}

	54.99% {
		clip-path: polygon(33.3% 0%, 33.3% 33.3%, 66.67% 33.3%, 66.67% 0%);
	}

	// 7
	55% {
		clip-path: polygon(0% 66.67%, 0% 100%, 33.3% 100%, 33.3% 66.67%);
	}

	65.99% {
		clip-path: polygon(0% 66.67%, 0% 100%, 33.3% 100%, 33.3% 66.67%);
	}

	// 3
	66% {
		clip-path: polygon(66.67% 0%, 66.67% 33.3%, 100% 33.3%, 100% 0%);
	}

	76.99% {
		clip-path: polygon(66.67% 0%, 66.67% 33.3%, 100% 33.3%, 100% 0%);
	}

	// 8
	77% {
		clip-path: polygon(33.3% 66.67%, 33.3% 100%, 66.67% 100%, 66.67% 66.67%);
	}

	87.99% {
		clip-path: polygon(33.3% 66.67%, 33.3% 100%, 66.67% 100%, 66.67% 66.67%);
	}

	// 5
	88% {
		clip-path: polygon(33.3% 33.3%, 33.3% 66.67%, 66.67% 66.67%, 66.67% 33.3%);
	}

	99.99% {
		clip-path: polygon(33.3% 33.3%, 33.3% 66.67%, 66.67% 66.67%, 66.67% 33.3%);
	}

	to {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}
}