@keyframes info-opacity {
	from {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	90% {
		opacity: 0;
	}

	to {
		opacity: 0;
	}
}

@keyframes info-text {
	from {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}

	10.99% {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}

	11% {
		clip-path: polygon(66.67% 33.3%, 66.67% 66.67%, 100% 66.67%, 100% 33.3%);
	}

	21.99% {
		clip-path: polygon(66.67% 33.3%, 66.67% 66.67%, 100% 66.67%, 100% 33.3%);
	}

	22% {
		clip-path: polygon(0% 33.3%, 0% 66.67%, 33.3% 66.67%, 33.3% 33.3%);
	}

	32.99% {
		clip-path: polygon(0% 33.3%, 0% 66.67%, 33.3% 66.67%, 33.3% 33.3%);
	}

	33% {
		clip-path: polygon(66.67% 66.67%, 66.67% 100%, 100% 100%, 100% 66.67%);
	}

	43.99% {
		clip-path: polygon(66.67% 66.67%, 66.67% 100%, 100% 100%, 100% 66.67%);
	}

	44% {
		clip-path: polygon(33.3% 0%, 33.3% 33.3%, 66.67% 33.3%, 66.67% 0%);
	}

	54.99% {
		clip-path: polygon(33.3% 0%, 33.3% 33.3%, 66.67% 33.3%, 66.67% 0%);
	}

	55% {
		clip-path: polygon(0% 66.67%, 0% 100%, 33.3% 100%, 33.3% 66.67%);
	}

	65.99% {
		clip-path: polygon(0% 66.67%, 0% 100%, 33.3% 100%, 33.3% 66.67%);
	}

	66% {
		clip-path: polygon(66.67% 0%, 66.67% 33.3%, 100% 33.3%, 100% 0%);
	}

	76.99% {
		clip-path: polygon(66.67% 0%, 66.67% 33.3%, 100% 33.3%, 100% 0%);
	}

	77% {
		clip-path: polygon(33.3% 66.67%, 33.3% 100%, 66.67% 100%, 66.67% 66.67%);
	}

	87.99% {
		clip-path: polygon(33.3% 66.67%, 33.3% 100%, 66.67% 100%, 66.67% 66.67%);
	}


	88% {
		clip-path: polygon(33.3% 33.3%, 33.3% 66.67%, 66.67% 66.67%, 66.67% 33.3%);
	}

	99.99% {
		clip-path: polygon(33.3% 33.3%, 33.3% 66.67%, 66.67% 66.67%, 66.67% 33.3%);
	}

	to {
		clip-path: polygon(0% 0%, 0% 33.3%, 33.3% 33.3%, 33.3% 0%);
	}
}


.info {
	opacity: 0;
	animation: info-opacity infinite 8s linear;

	&__up {
		animation: info-text infinite 72s linear;
	}
}