.up,
.down {

	&__radio {
		display: none;
	}

	&__content {
		flex-direction: column;
		justify-content: space-around;
	}

	&__wrapper-label {
		display: flex;
		justify-content: space-around;
		border-bottom: 1px solid $title-light;
		padding-top: 10px;
	}

	& label {
		box-sizing: content-box;
		width: 30%;
		height: 100%;
		flex-grow: 1;
		font-size: 16px;
		text-align: center;

		@include mobile {
			font-size: 14px;
		}
	}

	& p {
		display: none;
	}
}

.info {
	opacity: 0;
	animation: info-opacity infinite 8s linear;

	&__up {
		animation: info-text infinite 72s linear;
	}

	&__up,
	&__down {

		& h2 {
			display: none;
			margin: 40px 0 20px;
			font-weight: 700;
			text-align: center;

			@include screen-off {
				display: block;
			}
		}
	}

	@include screen-off {
		height: auto;
		opacity: 1;
		animation: unset;

		&__up {
			overflow: visible;
			animation: unset;
			background: none;

			& p {
				mix-blend-mode: unset;
			}
		}
	}
}

.text-up-1,
.text-up-2,
.text-up-3,
.text-down-1,
.text-down-2,
.img-up-1,
.img-up-2,
.img-up-3 {
	display: none;

	@include screen-off {
		display: block;
	}
}

// Контент верхнего блока
.img-up-1 {
	float: left;
	width: 300px;
	height: 300px;
	margin-right: 15px;
	border-radius: 50%;

	@media (max-width: 600px) {
		float: none;
		margin: 0 auto;
	}

	@include mobile {
		width: 100%;
		height: auto;
	}
}

.img-up-2 {
	margin: 20px 0;
	text-align: center;

	& img {
		width: 384px;
		height: 214px;

		@media (max-width: 430px) {
			width: 100%;
			height: auto;
		}
	}
}

.img-up-3 {
	width: 100%;
	margin: 20px 0;
	text-align: center;

	& img {
		width: 49%;
		height: auto;

		@media (max-width: 640px) {
			width: 375px;
			height: 250px;
		}

		@media (max-width: 420px) {
			width: 100%;
			height: auto;
		}
	}
}

// Контент нижнего блока
.text-down-1 {
	height: 100%;
	padding: 0 40px;

	@media (max-width: 500px) {
		padding: 0;
	}

	& li {
		position: relative;
		min-height: 110px;
		padding: 15px 0;

		&::after {
			position: absolute;
			bottom: 0;
			content: "";
			width: 100%;
			height: 1px;
			background: $background-dark;
			background-image: linear-gradient(to left, $background-light, $background-dark, $background-light);
		}

		& img {
			@include position-center;
			opacity: 0.2;
		}

		& h3 {
			font-weight: 700;
		}

		& div {
			display: flex;
			justify-content: space-between;
		}

		& a {
			margin-left: 20px;
			padding: 5px 15px;
			border-radius: 3px;
			background: $title-light;
			color: $background-light;
			font-size: 13px;
			opacity: 1;
			transition: opacity $timeout;

			&:hover,
			&[href='#'] {
				opacity: 0.3;
			}
		}

		& time {
			align-self: flex-end;
			font-size: 11px;
			text-align: right;
			color: #555;
		}
	}
}

.text-down-2 {
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	transition: all $timeout;

	//* Настройка ориентации 1-8
	// 3 состояния экрана: обычный (по умолчанию);
	// 	альбомный  (min-aspect-ratio: 5/2);
	// 	книжный (max-aspect-ratio: 3/4)
	@media (min-width: $tablet-width) and (max-height: $break-height) {
		max-width: none;
		width: 100%;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}

	@include screen-off {
		position: relative;
		z-index: -1;
		display: flex;
		max-width: 1024px;
		margin: 0 auto;

		&::after {
			content: "";
			@include position-size-parent;
			z-index: 1;
		}
	}
}

hr {
	border: 0;
	width: 90%;
	height: 1px;
	margin: 0 auto;
	background: $background-dark;
	background-image: linear-gradient(to left, $background-light, $background-dark, $background-light);

	// Настройка ориентации 2-8
	@media (min-width: $tablet-width) and (max-height: $break-height) {
		margin: auto 0;
		width: 1px;
		height: 90%;
		background-image: linear-gradient(to top, $background-light, $background-dark, $background-light);
	}

	@include screen-off {
		margin: 20px auto;
	}
}

.rgu,
.gb {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 49%;
	text-align: center;
	transition: all $timeout;

	// Настройка ориентации 3-8
	@media (min-width: $tablet-width) and (max-height: $break-height) {
		width: 49%;
		height: 95%;
	}

	@media (max-aspect-ratio: $proportion-port) {
		flex-direction: column;
	}

	&__text {
		position: relative;
		width: 50%;
		height: 100%;

		// Настройка ориентации 4-8
		@include tablet {
			width: 240px; // связь с &__diploma
		}

		@media (max-aspect-ratio: $proportion-port) {
			width: 100%;
			height: 110px; // связь с &__diploma
		}

		@include screen-off {
			width: 100%;
			height: auto;
		}


		&::after {
			content: "";
			@include position-size-parent;
			z-index: -1;
			opacity: 0.2;

			@include screen-off {
				opacity: 0;
			}
		}

		&-main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			// Настройка ориентации 5-8
			@media (max-aspect-ratio: $proportion-port) {
				justify-content: start;
			}

			& h3 {
				font-weight: 700;
			}

			& h4 {
				text-transform: none;

				@media (max-width: $tablet-width),
				(max-height: $break-height) {
					display: none;
				}
			}

			& p {
				margin-top: 30px;
				margin-bottom: 0;

				// связь с time и __text::after 2-3
				@media (max-width: $mobile-width),
				(max-height: $break-height) and (max-aspect-ratio: $proportion-land) {
					display: none;
				}
			}

			& time {
				font-size: 12px;
				color: #555;

				// связь с p и __text::after 2-3
				@media (max-width: $mobile-width),
				(max-height: $break-height) and (max-aspect-ratio: $proportion-land) {
					display: none;
				}
			}
		}
	}

	&__program {
		display: none;
		width: 0;
		height: 0;
		margin-top: 20px;
		overflow: hidden;
		text-align: left;
		font-size: 14px;

		& li {
			position: relative;
			padding-left: 20px;
			color: $text-dark;

			&::after {
				position: absolute;
				left: 0;
				top: -1px;
				font-size: 10px;
				font-weight: 700;
				text-align: center;
				color: $title-dark;
			}
		}

		& li:first-child {
			margin-bottom: 10px;
			padding-left: 35px;
			font-weight: 700;
			color: $title-dark;
		}
	}

	&__diploma {
		width: 20vh;
		height: 14vh;
		border-radius: 10px;
		object-fit: cover;

		// Настройка ориентации 6-8
		@media (max-aspect-ratio: $proportion-port) {
			width: 16vh;
			height: 10.5vh;
		}
	}
}

.rgu__text::after {
	background: url(../img/down-rgu-logo.png) center center no-repeat;

	// связь с p и time 3-3
	@media (max-width: $mobile-width),
	(max-height: $break-height) and (max-aspect-ratio: $proportion-land) {
		background: url(../img/down-rgu-logo.png) center 70% no-repeat;
	}
}

.gb__text::after {
	background: url(../img/down-gb-logo.svg) center center no-repeat;

	@media (max-width: $mobile-width),
	(max-height: $break-height) and (max-aspect-ratio: $proportion-land) {
		background: url(../img/down-gb-logo.svg) center 70% no-repeat;
	}
}

.ready::after {
	content: "V";
}

.five::after {
	content: "5";
}

.future::after {
	content: "-";
}

.text-down-2:hover {

	.rgu,
	.gb {
		opacity: 0.3;
		width: 100%;
		height: 20%;
		max-width: $content-width - 100px;
		margin: 0 auto;

		// Настройка ориентации 7-8
		@media (min-width: $tablet-width) and (max-height: $break-height) {
			width: 30%;
			height: 95%;
		}

		&__text {

			&::after {
				background-position: center 25px;
			}

			&-main {
				justify-content: start;

				& h4,
				& p,
				& time {
					display: none;
				}
			}
		}

		&__diploma {
			display: none;
		}
	}

	& .rgu:hover {
		display: block;
		opacity: 1;
		height: 75%;
		overflow: auto;

		// Настройка ориентации 8а-8
		@media (min-width: $tablet-width) and (max-height: $break-height) {
			width: 60%;
			height: 95%;
		}

		& .rgu__text {
			width: 100%;
			height: auto;

			&-main {
				height: auto;

				& h4,
				& p,
				& time {
					display: block;
				}
			}
		}

		& .rgu__program {
			display: block;
			animation: transition-program $timeout forwards;

		}

		& .rgu__diploma {
			display: block;
			width: 80%;
			height: auto;
			margin: 30px auto 0;
		}
	}

	& .gb:hover {
		display: block;
		opacity: 1;
		height: 75%;
		overflow: auto;

		// Настройка ориентации 8б-8
		@media (min-width: $tablet-width) and (max-height: $break-height) {
			width: 60%;
			height: 95%;
		}

		& .gb__text {
			width: 100%;
			height: auto;

			&-main {
				height: auto;

				& h4,
				& p,
				& time {
					display: block;
				}
			}
		}

		& .gb__program {
			display: block;
			animation: transition-program $timeout forwards;
		}


		& .gb__diploma {
			display: block;
			width: 80%;
			height: auto;
			margin: 30px auto 0;
		}
	}
}


#up-1:checked~.wrap__center .label-up-1,
#up-2:checked~.wrap__center .label-up-2,
#up-3:checked~.wrap__center .label-up-3,
#down-1:checked~.wrap__center .label-down-1,
#down-2:checked~.wrap__center .label-down-2 {
	font-size: 18px;
	font-weight: 700;
	border-bottom: 3px solid $title-light;

	@include mobile {
		font-size: 14px;
	}
}

#up-1:checked~.wrap__center .text-up-1,
#up-2:checked~.wrap__center .text-up-2,
#up-3:checked~.wrap__center .text-up-3 {
	display: block;
}

#up-1:checked~.wrap__center .title-up-1,
#up-2:checked~.wrap__center .title-up-2,
#up-3:checked~.wrap__center .title-up-3,
#down-1:checked~.wrap__center .title-down-1,
#down-2:checked~.wrap__center .title-down-2 {
	display: block;

	@media screen and (max-height: $break-height) {
		display: none;
	}
}

#up-1:checked~.wrap__center .up:hover~.info .img-up-1,
#up-1:checked~.wrap__center .up.hover~.info .img-up-1,
#up-2:checked~.wrap__center .up:hover~.info .img-up-2,
#up-2:checked~.wrap__center .up.hover~.info .img-up-2,
#up-3:checked~.wrap__center .up:hover~.info .img-up-3,
#up-3:checked~.wrap__center .up.hover~.info .img-up-3 {
	display: block;
}

#down-1:checked~.wrap__center .text-down-1,
#down-2:checked~.wrap__center .text-down-2 {
	display: flex;
}