.up,
.down {

	&__radio {
		display: none;
	}

	&__content {
		padding: 10px 20px;

		@include mobile {
			padding: 10px 10px;
		}
	}

	&__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&-label {
			display: flex;
			justify-content: start;
			border-bottom: 1px solid $title-light;

			@include tablet {
				justify-content: space-around;
			}
		}
	}

	& label {
		box-sizing: content-box;
		height: 100%;
		margin-right: 30px;
		padding: 0px 20px;
		font-size: 16px;

		@include tablet {
			flex-grow: 1;
			margin-right: 0;
			padding: 0;
			width: 30%;
			text-align: center;
		}

		@include mobile {
			font-size: 14px;
		}
	}

	& p {
		display: none;
	}
}

.info {
	opacity: 0;
	animation: info-opacity infinite 8s linear;

	&__up,
	&__down {
		padding: 20px;
	}

	&__up {
		animation: info-text infinite 72s linear;

		& p {
			display: none;
		}

		& img {
			display: none;
		}
	}
}

.img-up-1 {
	float: left;
	margin-right: 15px;
	border-radius: 50%;

	@include mobile {
		width: 100%;
		height: auto;
	}
}

#up-1:checked~.wrap__center .label-up-1,
#up-2:checked~.wrap__center .label-up-2,
#up-3:checked~.wrap__center .label-up-3,
#down-1:checked~.wrap__center .label-down-1,
#down-2:checked~.wrap__center .label-down-2 {
	font-size: 18px;
	font-weight: 700;
	border-bottom: 3px solid $title-light;

	@include mobile {
		font-size: 14px;
	}
}

#up-1:checked~.wrap__center .text-up-1,
#up-2:checked~.wrap__center .text-up-2,
#up-3:checked~.wrap__center .text-up-3,
#down-1:checked~.wrap__center .text-down-1,
#down-2:checked~.wrap__center .text-down-2 {
	display: block;
}

#up-1:checked~.wrap__center .title-up-1,
#up-2:checked~.wrap__center .title-up-2,
#up-3:checked~.wrap__center .title-up-3,
#down-1:checked~.wrap__center .title-down-1,
#down-2:checked~.wrap__center .title-down-2 {
	display: block;

	@media screen and (max-height: $break-height) {
		display: none;
	}
}

#up-1:checked~.wrap__center .up:hover~.info .img-up-1,
#up-1:checked~.wrap__center .up.hover~.info .img-up-1,
#up-2:checked~.wrap__center .up:hover~.info .img-up-2,
#up-2:checked~.wrap__center .up.hover~.info .img-up-2,
#up-3:checked~.wrap__center .up:hover~.info .img-up-3,
#up-3:checked~.wrap__center .up.hover~.info .img-up-3 {

	display: block;

}