footer {
	position: relative;
	min-height: 50px;
	line-height: 50px;
	background-color: $background-dark;

	// Настройка ориентации 1-4 (+ general, header и main)
	@media screen and (min-aspect-ratio: $proportion) {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 120px;
		height: 100%;
	}

	@media screen and (max-width: $pc-width) and (min-aspect-ratio: $proportion),
	(max-width: $pc-width) and (max-height: $break-height),
	(max-width: $laptop-width) {
		min-height: 70px;
		line-height: 70px;
	}
}

.copyright {
	color: $text-info;
	text-align: right;
	margin-right: 30px;

	// Настройка ориентации 2-4
	@media screen and (min-aspect-ratio: $proportion) {
		text-align: center;
		margin-right: 0;
	}

	@include mobile {
		margin-right: 10px;
	}

	// Отключение полной надписи для малых экранов
	&__full {

		// Настройка ориентации 3-4
		@media screen and (min-aspect-ratio: $proportion) {
			display: none;
		}

		@include tablet {
			display: none;
		}
	}
}

.close {
	display: none;
	@include position-center;
	width: 60px;
	height: 60px;
	fill: $background-dark;
	opacity: 0.5;
	transition: fill $timeout opacity $timeout;

	// Переход в полноэкранный режим 1-4 (+ main)
	// Настройка ориентации 4-4
	@media screen and (max-width: $pc-width) and (min-aspect-ratio: $proportion),
	(max-width: $pc-width) and (max-height: $break-height),
	(max-width: $laptop-width) {
		display: block;
	}

	@include tablet {
		display: block;
	}
}