// В данном файле указываются персональные настройки внутри вертикальных блоков-обёрток

.up,
.down {

	&__radio {
		display: none;
	}

	// Дополнительные настройки к main
	// Вертикальное заполнение по высоте label и p
	&__content {
		flex-direction: column;
		justify-content: space-around;
	}

	// Обёртка для горизонтального заполнение по ширине label
	&__label-wrap {
		display: flex;
		justify-content: space-around;
		border-bottom: 1px solid $title-light;
		padding-top: 10px;
	}

	// Заголовки
	& label {
		flex-grow: 1;

		width: 30%;
		height: 100%;

		// Для прижатия к нижней черте
		box-sizing: content-box;

		font-size: 16px;
		text-align: center;

		@include mobile {
			font-size: 14px;
		}
	}

	& p {
		display: none;
	}
}

// Дополнительные настройки к main
// Блок-обёртка информационного содержимого (+main)
.info {
	opacity: 0;

	&__up,
	&__down {

		& h2 {
			display: none;
			margin: 40px 0 20px;
			font-weight: 700;
			text-align: center;

			// Лёгкая версия 1-6	(везде)
			&.light {
				display: block;
			}
		}
	}

	// Лёгкая версия 2-6
	&.light {
		height: auto;
		opacity: 1;
		margin-top: 70px;

		@media (max-height: $slim-screen-tag) {
			margin-top: 0;
		}

		& p {
			mix-blend-mode: unset;
		}
	}
}

// Отключение содержимого, которое зависит от input.checked
.text-up-1,
.text-up-2,
.text-up-3,
.text-down-1,
.text-down-2,
.img-up-1,
.img-up-2,
.img-up-3 {
	display: none;

	// Лёгкая версия 3-6
	&.light {
		display: block;
	}
}

//* Изображения верхнего блока
.img-up-1 {
	float: left;
	width: 300px;
	height: 300px;
	margin-right: 15px;
	border-radius: 50%;

	@media (max-width: 600px) {
		float: none;
		margin: 0 auto;
	}

	@include mobile {
		width: 100%;
		height: auto;
	}
}

.img-up-2 {
	margin: 20px 0;
	text-align: center;

	& img {
		width: 384px;
		height: 214px;

		@media (max-width: 430px) {
			width: 100%;
			height: auto;
		}
	}
}

.img-up-3 {
	width: 100%;
	margin: 20px 0;
	text-align: center;

	& img {
		width: 49%;
		height: auto;

		@media (max-width: 640px) {
			width: 375px;
			height: 250px;
		}

		@media (max-width: 420px) {
			width: 100%;
			height: auto;
		}
	}
}

//* Содержимое нижнего блока
// Список работ
.text-down-1 {
	height: 100%;
	padding: 0 40px;

	@media (max-width: 500px) {
		padding: 0;
	}

	& li {
		position: relative;
		min-height: 110px;
		padding: 15px 0;

		// Разделительная черта
		&::after {
			position: absolute;
			bottom: 0;
			content: "";
			width: 100%;
			height: 1px;
			background: $background-dark;
			background-image: linear-gradient(to left, $background-light, $background-dark, $background-light);
		}

		// Логотип заказчика
		& img {
			@include position-center;
			opacity: 0.2;
		}

		// Наименование заказчика
		& h3 {
			font-weight: 700;
		}

		// Обёртка для ссылки и даты 
		& div {
			display: flex;
			justify-content: space-between;

			@include screen-slim {
				flex-direction: column-reverse;
			}
		}

		// ссылка на проект
		& a {
			margin-left: 20px;
			padding: 5px 15px;
			border-radius: 3px;
			background: $title-light;
			color: $background-light;
			font-size: 13px;
			opacity: 1;
			transition: opacity $timeout;

			@include screen-slim {
				margin: 10px 20px;
				text-align: center;
			}

			&:hover {
				opacity: 0.4;
			}

			// отключение ссылки для данного проекта
			&[href='#'] {
				visibility: hidden;
			}
		}

		// Дата работы над проектом
		& time {
			align-self: flex-end;
			font-size: 11px;
			text-align: right;
			color: #555;
		}
	}
}

// Обучение
.text-down-2 {
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	transition: all $timeout;

	//* Настройка ориентации внутри блока 1-8
	// 3 состояния экрана: обычный (по умолчанию);
	// 	альбомный  (min-aspect-ratio: 5/2);
	// 	книжный (max-aspect-ratio: 3/4)
	@media (min-width: $tablet-width) and (max-height: $break-height) {
		max-width: none;
		width: 100%;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}

	// Лёгкая версия 4-6
	&.light {
		position: relative;
		z-index: -1;
		display: flex;
		max-width: 600px;
		margin: 0 auto;
	}
}

// Разделительная черта
hr {
	border: 0;
	width: 90%;
	height: 1px;
	margin: 0 auto;
	background: $background-dark;
	background-image: linear-gradient(to left, $background-light, $background-dark, $background-light);

	// Настройка ориентации внутри блока 2-8
	@media (min-width: $tablet-width) and (max-height: $break-height) {
		margin: auto 0;
		width: 1px;
		height: 90%;
		background-image: linear-gradient(to top, $background-light, $background-dark, $background-light);
	}

	// Лёгкая версия 5-6
	&.light {
		margin: 20px auto;
	}
}

.rgu,
.gb {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 49%;
	text-align: center;
	transition: all $timeout;

	// Настройка ориентации внутри блока 3-8
	@media (min-width: $tablet-width) and (max-height: $break-height) {
		width: 49%;
		height: 95%;
	}

	@media (max-aspect-ratio: $proportion-port) {
		flex-direction: column;
	}

	// Обёртка для всего текста 1-3
	&__text {
		position: relative;
		width: 50%;
		height: 100%;

		// Настройка ориентации внутри блока 4-8
		@media (max-aspect-ratio: $proportion-port) {
			width: 100%;
		}

		// Логотип учебного заведения 1-3
		&::after {
			content: "";
			@include position-size-parent;
			z-index: -1;
			opacity: 0.2;
		}

		// Лёгкая версия 6-6
		&.light {
			width: 100%;
			height: auto;

			&::after {
				opacity: 0;
			}
		}

		// Обёртка для заголовков 1-3
		&-main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			// Настройка ориентации внутри блока 5-8
			@media (max-aspect-ratio: $proportion-port) {
				justify-content: start;
			}

			& h3 {
				font-weight: 700;
			}

			& h4 {
				text-transform: none;

				@media (max-width: $tablet-width),
				(max-height: $break-height) {
					display: none;
				}
			}

			& p {
				margin-top: 30px;
				margin-bottom: 0;

				// связь с time и __text::after 2-3
				@media (max-width: $mobile-width),
				(max-height: $break-height) and (max-aspect-ratio: $proportion-land) {
					display: none;
				}
			}

			& time {
				font-size: 12px;
				color: #555;

				// связь с p и __text::after 2-3
				@media (max-width: $mobile-width),
				(max-height: $break-height) and (max-aspect-ratio: $proportion-land) {
					display: none;
				}
			}
		}
	}

	// Список пройденных дисциплин 1-2
	&__program {
		display: none;
		margin-top: 20px;
		text-align: left;
		font-size: 14px;

		& li {
			position: relative;
			padding-left: 20px;
			color: $text-dark;

			// Маркер 1-2 (галочка, прочерк, оценка)
			&::after {
				position: absolute;
				left: 0;
				top: -1px;
				font-size: 10px;
				font-weight: 700;
				text-align: center;
				color: $title-dark;
			}
		}

		// Надпись: Программа обучения
		& li:first-child {
			margin-bottom: 10px;
			padding-left: 35px;
			font-weight: 700;
			color: $title-dark;
		}
	}

	// Изображение. Копия диплома 1-3
	&__diploma {
		// vh для сохранения пропорций и уменьшения в размерах относительно высоты
		width: 20vh;
		height: 14vh;
		border-radius: 10px;
		object-fit: cover;

		// Настройка ориентации внутри блока 6-8
		@media (max-aspect-ratio: $proportion-port) {
			width: 16vh;
			height: 10.5vh;
		}
	}
}

// Логотип учебного заведения 2а-3
.rgu__text::after {
	background: url(../img/down-rgu-logo.png) center center no-repeat;

	// связь с p и time 3-3
	@media (max-width: $mobile-width),
	(max-height: $break-height) and (max-aspect-ratio: $proportion-land) {
		background: url(../img/down-rgu-logo.png) center 70% no-repeat;
	}
}

// Логотип учебного заведения 2б-3
.gb__text::after {
	background: url(../img/down-gb-logo.svg) center center no-repeat;

	@media (max-width: $mobile-width),
	(max-height: $break-height) and (max-aspect-ratio: $proportion-land) {
		background: url(../img/down-gb-logo.svg) center 70% no-repeat;
	}
}

// Маркер 2-2
.ready::after {
	content: "V";
}

.five::after {
	content: "5";
}

.future::after {
	content: "-";
}

// Обучение. Наведение
.text-down-2:hover {

	// Создание эффекта анимации через уменьшение размеров вложенных блоков
	.rgu,
	.gb {
		opacity: 0.3;
		width: 100%;
		height: 20%;
		max-width: $content-width - 100px;
		margin: 0 auto;

		// Настройка ориентации внутри блока 7-8
		@media (min-width: $tablet-width) and (max-height: $break-height) {
			width: 30%;
			height: 95%;
		}

		// Обёртка для всего текста 2-3
		&__text {

			// Логотип учебного заведения 3-3
			&::after {
				background-position: center 25px;
			}

			// Обёртка для заголовков 2-3
			&-main {
				justify-content: start;

				& h4,
				& p,
				& time {
					display: none;
				}
			}
		}

		// Изображение. Копия диплома 2-3
		&__diploma {
			display: none;
		}
	}

	// Собственно наведение
	& .rgu:hover {
		display: block;
		opacity: 1;
		height: 75%;
		overflow: auto; // Отображение общей полосы прокрутки

		// Настройка ориентации внутри блока 8а-8
		@media (min-width: $tablet-width) and (max-height: $break-height) {
			width: 60%;
			height: 95%;
		}

		// Обёртка для всего текста 3а-3
		& .rgu__text {
			width: 100%;
			height: auto;

			// Обёртка для заголовков 3а-3
			&-main {
				height: auto;

				& h4,
				& p,
				& time {
					display: block;
				}
			}
		}

		// Список пройденных дисциплин 2а-2
		& .rgu__program {
			display: block;
		}

		// Изображение. Копия диплома 3а-3
		& .rgu__diploma {
			display: block;
			width: 80%;
			height: auto;
			margin: 30px auto 0;
		}
	}

	& .gb:hover {
		display: block;
		opacity: 1;
		height: 75%;
		overflow: auto; // Отображение общей полосы прокрутки

		// Настройка ориентации внутри блока 8б-8
		@media (min-width: $tablet-width) and (max-height: $break-height) {
			width: 60%;
			height: 95%;
		}

		// Обёртка для всего текста 3б-3
		& .gb__text {
			width: 100%;
			height: auto;

			// Обёртка для заголовков 3б-3
			&-main {
				height: auto;

				& h4,
				& p,
				& time {
					display: block;
				}
			}
		}

		// Список пройденных дисциплин 2б-2
		& .gb__program {
			display: block;
		}

		// Изображение. Копия диплома 3б-3
		& .gb__diploma {
			display: block;
			width: 80%;
			height: auto;
			margin: 30px auto 0;
		}
	}
}

// Отображение заголовка label в зависимости от input.checked (тёмная зона)
#up-1:checked~.center .label-up-1,
#up-2:checked~.center .label-up-2,
#up-3:checked~.center .label-up-3,
#down-1:checked~.center .label-down-1,
#down-2:checked~.center .label-down-2 {
	font-size: 18px;
	font-weight: 700;
	border-bottom: 3px solid $title-light;

	@include mobile {
		font-size: 14px;
	}
}

// Отображение подзаголовка в зависимости от input.checked (тёмная зона)
#up-1:checked~.center .title-up-1,
#up-2:checked~.center .title-up-2,
#up-3:checked~.center .title-up-3,
#down-1:checked~.center .title-down-1,
#down-2:checked~.center .title-down-2 {
	display: block;

	@media screen and (max-height: $break-height) {
		display: none;
	}
}

// Отображение текста в зависимости от input.checked (светлая зона)
#up-1:checked~.center .text-up-1,
#up-2:checked~.center .text-up-2,
#up-3:checked~.center .text-up-3 {
	display: block;
}

#down-1:checked~.center .text-down-1,
#down-2:checked~.center .text-down-2 {
	display: flex;
}

// Отображение картинок в зависимости от input.checked и наведения на соответствующий блок (светлая зона)
#up-1:checked~.center .up.hover~.info .img-up-1,
#up-2:checked~.center .up.hover~.info .img-up-2,
#up-3:checked~.center .up.hover~.info .img-up-3 {
	display: block;
}