.left,
.right {

	&__radio {
		display: none;
	}

	&__content {
		flex-direction: column;
		justify-content: space-around;
		padding: 20px;

		// Внутреннее перестроение для сохранения правильных пропорций 1-4 
		@include aspect-ratio-horz {
			flex-direction: row;
			justify-content: space-between;
		}

		&-img {
			display: flex;
			align-items: center;
			height: 70%;
			width: 100%;
			text-align: center;
			overflow: hidden;

			// Внутреннее перестроение для сохранения правильных пропорций 2-4 
			@include aspect-ratio-horz {
				height: 100%;
				width: 75%;
			}

			& picture {
				display: none;
				object-fit: contain;
				object-position: 50% 50%;
			}
		}

		&-label {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 25%;
			overflow: hidden;

			// Внутреннее перестроение для сохранения правильных пропорций 3-4 
			@include aspect-ratio-horz {
				flex-direction: column;
				width: 25%;
				height: 100%;
			}

			& label {
				width: 30%;
				max-height: 100px;
				overflow: hidden;

				// Внутреннее перестроение для сохранения правильных пропорций 4-4 
				@include aspect-ratio-horz {
					width: 70%;
					height: 30%;
				}

				& img {
					object-fit: cover;
				}
			}
		}
	}
}


.info__left,
.info__right {

	& h2 {
		margin: 0 0 20px 30px;
		font-weight: 700;

		@include screen-off {
			margin: 40px 0 20px;
			text-align: center;
		}
	}
}

#left-1:checked~.left .left-img-1,
#left-2:checked~.left .left-img-2,
#left-3:checked~.left .left-img-3,
#right-1:checked~.right .right-img-1,
#right-2:checked~.right .right-img-2,
#right-3:checked~.right .right-img-3 {
	display: block;
}

#left-1:checked~.left .left-label-1,
#left-2:checked~.left .left-label-2,
#left-3:checked~.left .left-label-3,
#right-1:checked~.right .right-label-1,
#right-2:checked~.right .right-label-2,
#right-3:checked~.right .right-label-3 {
	opacity: 0.3;
}