body {
	@include position-size-parent;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

header {
	min-height: 100px;
	background-color: $background-dark;
}

main {
	position: relative;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left,
.right,
.up,
.down {

	&__box {
		background-color: $background-dark;

		&-tag {
			position: absolute;
			z-index: 5;
			box-sizing: border-box;
			color: $title-light;
			font-size: 18px;
		}
	}

	&__content {
		padding: 20px;
		display: none;
	}
}

.left,
.right {
	width: $hover-space;
	height: $height-horz-block;

	@include tablet {
		width: 0;
	}

	&__box {
		width: 0;
		height: 100%;

		&-tag {
			top: 50%;
			transform: translateY(-50%);
			width: $width-horz-tag;
			height: $height-horz-tag;
			line-height: $height-horz-tag;

			&::after {
				content: "";
				@include position-size-parent;
				z-index: -1;
				background-color: $background-dark;
			}

		}
	}
}

.left {
	order: 1;
	position: relative;

	&__box {
		position: absolute;
		left: 0;

		&-tag {
			left: 100%;
			padding-left: 20px;
			clip-path: polygon(0 0, 100% 50%, 0 100%);
			background: url(../img/left_logo.svg) center center no-repeat content-box;
			background-size: contain;
		}
	}

	&:hover &__box,
	&.hover &__box {
		width: 100%;
		transition: width $timeout;
	}
}

.right {
	order: 3;
	position: relative;

	&__box {
		position: absolute;
		right: 0;

		&-tag {
			right: 100%;
			padding-right: 10px;
			clip-path: polygon(100% 0, 0 50%, 100% 100%);
			text-align: right;
			background: url(../img/right_logo.svg) center center no-repeat content-box;
			background-size: contain;
		}
	}

	&:hover &__box,
	&.hover &__box {
		width: 100%;
		transition: width $timeout;
	}
}

.wrap__center {
	width: $width-vert-block;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	order: 2;

	@include tablet {
		width: 100%;
	}
}

.up,
.down {
	width: 100%;
	height: $hover-space;

	@include tablet {
		height: 0;
	}

	&__box {
		width: 100%;
		height: 0;

		&-tag {
			left: 50%;
			transform: translateX(-50%);
			width: $width-vert-tag;
			height: $height-vert-tag;
			text-align: center;
			background-color: $background-dark;
		}
	}
}

.up {
	order: 1;

	&__box {
		position: absolute;
		top: 0;
		left: 0;

		&-tag {
			top: 100%;
			padding-top: $padding-content-up;
			clip-path: polygon(0 0, 100% 0, 50% 100%);
		}
	}

	&:hover &__box,
	&.hover &__box {
		height: 100%;
		transition: height $timeout;
	}
}

.down {
	order: 3;

	&__box {
		position: absolute;
		bottom: 0;
		left: 0;

		&-tag {
			bottom: 100%;
			padding-top: $padding-content-down;
			clip-path: polygon(0 100%, 50% 0, 100% 100%);
		}
	}

	&:hover &__box,
	&.hover &__box {
		height: 100%;
		transition: height $timeout;
	}
}

.info {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	order: 2;

	&__up {
		width: 100%;
		height: 100%;
		background: url(../img/background_big.jpg) center center no-repeat fixed;

		@include laptop {
			background: url(../img/background_medium.jpg) center center no-repeat fixed;
		}

		@include mobile {
			background: url(../img/background_small.jpg) center center no-repeat fixed;
		}

		& p {
			mix-blend-mode: overlay;
		}
	}

	&>div {
		display: none;
		width: 100%;
		height: 100%;
		padding: 20px;
	}
}

.left:hover,
.left.hover,
.right:hover,
.right.hover {
	width: $width-horz-block;
	transition: all $timeout;

	&~.wrap__center {
		width: $width-horz-block;

		& .info {
			height: $height-horz-block;

			&__up {
				display: none;
			}
		}
	}
}

.up:hover,
.up.hover {
	position: relative;
	height: $height-vert-block;
	transition: all $timeout;

	&~.info {

		& .info__up {
			animation: unset;
			background: none;

			& p {
				mix-blend-mode: unset;
			}
		}
	}
}

.down:hover,
.down.hover {
	position: relative;
	height: $height-vert-block;
	transition: all $timeout;

	&~.info {

		& .info__up {
			display: none;
		}
	}
}

.left:hover .left__box,
.left.hover .left__box,
.right:hover .right__box,
.right.hover .right__box,
.up:hover .up__box,
.up.hover .up__box,
.down:hover .down__box,
.down.hover .down__box {

	&-tag {
		color: $background-dark;
	}
}

.left:hover~.wrap__center .info,
.left.hover~.wrap__center .info,
.right:hover+.wrap__center .info,
.right.hover+.wrap__center .info,
.up:hover~.info,
.up.hover~.info,
.down:hover+.info,
.down.hover+.info {
	animation: unset;
	opacity: 1;
	transition: opacity $timeout;
}

.left:hover~.wrap__center .info__left,
.left.hover~.wrap__center .info__left,
.right:hover+.wrap__center .info__right,
.right.hover+.wrap__center .info__right,
.up:hover~.info .info__up,
.up.hover~.info .info__up,
.down:hover+.info .info__down,
.down.hover+.info .info__down {
	display: block;
	position: relative;
	z-index: 10;
	background-color: $background-light;
}

.left:hover .left__content,
.left.hover .left__content,
.right:hover .right__content,
.right.hover .right__content,
.up:hover .up__content,
.up.hover .up__content,
.down:hover .down__content,
.down.hover .down__content {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

footer {
	min-height: 50px;
	line-height: 50px;
	background-color: $background-dark;

	@include tablet {
		position: relative;
		min-height: 70px;
		line-height: 70px;
	}
}