html,
body {
	height: 100%;
}

body {
	font-family: lato, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;

	background: url(../img/background_ls640.jpg) center center no-repeat;
	background-size: 1000%;

	@media screen and (max-width: 1080px) and (orientation: portrait) {
		background: url(../img/background_pr280.jpg) center center no-repeat;
	}

	@include pc {
		background-size: 500%;
	}

	&::before {
		content: "";
		@include position-size-parent;
		z-index: -1;
		background-color: $background-light;
		opacity: .8;
	}

	&::after {
		content: "";
		@include position-size-parent;
		z-index: -10;

		background: $bg-PC;

		@include pc {
			background: $bc-laptop;
		}

		@include mobile {
			background: $bc-mobile;
		}

		@media screen and (max-width: 1080px) and (orientation: portrait) {
			background: $bc-laptop-pt;
		}

		@media screen and (max-width: 768px) and (orientation: portrait) {
			background: $bc-tablet-pt;
		}

		@media screen and (max-width: 375px) and (orientation: portrait) {
			background: $bc-mobile-pt;
		}
	}
}

// Настройка ориентации 1-1 (+ main, header и footer)
.container {
	width: $width-container;
	margin: 0 auto;

	@media screen and (min-aspect-ratio: $proportion) {
		width: 100%;
	}

	@include pc {
		width: 100%;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.title-light {
	text-transform: uppercase;
	color: $title-light;
}

.title-dark {
	text-transform: uppercase;
	color: $title-dark;
}

.text-light {
	color: $text-light;
}

.text-dark {
	color: $text-dark;
}