@mixin pc {
	@media (max-width: $pc-width) {
		@content;
	}
}

@mixin laptop {
	@media (max-width: $laptop-width) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: $tablet-width) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: $mobile-width) {
		@content;
	}
}

// Переход в полноэкранный режим
@mixin screen-full {

	@media (max-width: $pc-width) and (min-aspect-ratio: $proportion-land),
	(max-height: $break-height),
	(max-width: $laptop-width) {
		@content;
	}
}

// Разделение на две горизонтальные части левого и правого блоков для малых экранов
@mixin screen-full-horz {

	@media (max-width: $laptop-width) and (max-aspect-ratio: 4/3) {
		@content;
	}
}

// Для сверх узких экранов
@mixin screen-slim {

	@media (max-width: $slim-screen-tag),
	(max-height: $slim-screen-tag),
	(max-height: 475px) and (max-aspect-ratio: $proportion-land) {
		@content;
	}
}

// Отключение оформления для архаических мобильных
@mixin screen-off {

	@media (max-width: $screen-off),
	(max-height: $screen-off),
	(max-height: 350px) and (max-aspect-ratio: $proportion-land) {
		@content;
	}
}

// Внутреннее перестроение для сохранения правильных пропорций левого и правого блоков
@mixin aspect-ratio-horz {

	@media (max-width: $laptop-width) and (min-aspect-ratio: 2/3) and (orientation: portrait),
	(max-width: $laptop-width) and (max-aspect-ratio: 4/3) and (orientation: landscape),
	(min-aspect-ratio: 5/1) and (orientation: landscape) {
		@content;
	}
}

// Ограничение высоты блока для сохранения правильных пропорций левого и правого блоков
@mixin stop-height-horz {

	@media (orientation: portrait) {
		@content;
	}
}

@mixin position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin position-size-parent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}