//* Параметры адаптивного поведения
// BreakPoints
$pc-width: 1280px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 375px;

// Соотношение сторон экрана 
$proportion: "2/1";

// Минимальная высота
$break-height: 640px;

// Узкий экран
$slim-screen: 270px;
$slim-screen-tag: 320px;

// Задержка наведения основная
$timeout: 200ms;


// * Цветовая палитра
// Фон
$background-dark: rgba(0, 0, 0, .7);
$background-light: rgba(255, 255, 255, .8);

// Текст
$text-light: #eed5c3;
// $text-dark: #410041;
$text-dark: #61330d;
$text-info: #999;
$text-menu: #ebb289;


// Заголовок
$title-light: #afb894;
$title-dark: #61330d;


// * Параметры для блоков
// Ширина контейнера
$width-container: $pc-width;

// Размер секций для срабатывания наведения ~ равен бирке
$hover-space: 15%;

// Ширина и высота (исходя из (100% - 15% ) / 2 ) горизонтальных секций
$width-horz-block: 42.5%;
$height-horz-block: 70%;

// Ширина (исходя из 100% - 15% * 2 ) и высота вертикальных секций
$width-vert-block: 70%;
$height-vert-block: 15%;

// * Бирки
// Горизонтальные
$width-horz-tag: 150px;
$height-horz-tag: 200px;


// Вертикальные
$width-vert-tag: 200px;
$height-vert-tag: 150px;


//* Фон
// основной для ПК
$bg-PC: url(../img/background_ls2560.jpg) center center no-repeat fixed;

// основной для портативных устройств
$bc-laptop: url(../img/background_ls1280.jpg) center center no-repeat fixed;

// основной для мобильных телефонов
$bc-mobile: url(../img/background_ls1024.jpg) center center no-repeat fixed;

// вертикальный для Ноутбуков
$bc-laptop-pt: url(../img/background_pr1080.jpg) center center no-repeat fixed;

// вертикальный для планшетов
$bc-tablet-pt: url(../img/background_pr768.jpg) center center no-repeat fixed;

// вертикальный для мобильных телефонов
$bc-mobile-pt: url(../img/background_pr375.jpg) center center no-repeat fixed;