$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 375px;


// Размеры блоков
$width-container: 100vh;

// Бирки
$width-horz-tag: 10vh;
$height-horz-tag: 100%;

$width-vert-tag: 100%;
$height-vert-tag: 10vh;

// Полигоны обрезки