//* Параметры адаптивного поведения
// BreakPoints
$pc-width: 1310px;
// ? Переход в полноэкранный режим
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 375px;

// Соотношение сторон экрана 
$proportion-land: "5/2";
$proportion-port: "2/5";

// Минимальная высота
$break-height: 640px;

// Узкий экран
$slim-screen: 270px;
$slim-screen-tag: 320px;
$screen-off: 200px;

// Контейнер для содержания
$content-width: 600px;

// Задержка наведения основная
$timeout: 200ms;


// * Цветовая палитра
// Фон
$background-dark: rgba(0, 0, 0, .7);
$background-light: rgba(255, 252, 250, 0.8);

// Текст
$text-light: #eed5c3;
$text-dark: #61330d;
$text-info: #999;
$text-menu: #ebb289;


// Заголовок
$title-light: #afb894;
$title-dark: #192c01;


// * Параметры для блоков
// Размер секций для срабатывания наведения ~ равен бирке
$hover-space: 20%;

// Ширина и высота (исходя из (100% - 15% ) / 2 ) горизонтальных секций
$width-horz-block: 42.5%;
$height-horz-block: 60%;

// Ширина (исходя из 100% - 15% * 2 ) и высота вертикальных секций
$width-vert-block: 70%;
$height-vert-block: 15%;

// * Бирки
// Горизонтальные
$width-horz-tag: 150px;
$height-horz-tag: 200px;


// Вертикальные
$width-vert-tag: 200px;
$height-vert-tag: 150px;

// Дельта для узкого экрана
$d-slim-tag: 50px;

//* Фон
// основной для ПК
$bg-PC: url(../img/background_ls2560.jpg) center center no-repeat fixed;

// основной для портативных устройств
$bc-laptop: url(../img/background_ls1280.jpg) center center no-repeat fixed;

// основной для мобильных телефонов
$bc-mobile: url(../img/background_ls1024.jpg) center center no-repeat fixed;

// вертикальный для ПК
$bc-PC-pt: url(../img/background_pr1620.jpg) center center no-repeat fixed;

// вертикальный для Ноутбуков
$bc-laptop-pt: url(../img/background_pr1080.jpg) center center no-repeat fixed;

// вертикальный для планшетов
$bc-tablet-pt: url(../img/background_pr768.jpg) center center no-repeat fixed;

// вертикальный для мобильных телефонов
$bc-mobile-pt: url(../img/background_pr375.jpg) center center no-repeat fixed;