# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/dist/
/public/css/
/public/projects/
/public/js/
/public/fonts/
/public/icon/
/public/img/
/public/js/
.vscode/
ToDo.txt
comments.txt

