@media (max-width: 768px) {
    .container {
        padding: 0 32px;
    }

    .main {
        background-size: 50%;
        background-position: bottom 10% right 32px;
    }

    .what-we-do {
        align-items: center;
        flex-direction: column;
    }

    .card {
        padding-bottom: 26px;
        margin-bottom: 32px;
    }

    .something .text {
        padding: 0 92px;
    }

    .app h6 {
        left: 20px;
    }

    .footer .container {
        padding: 0 124px;
    }

    .footerUp {
        padding-top: 47px;
        padding-bottom: 64px;
    }

    .intersted-to-woek {
        width: 65%;
    }

    .let a {
        padding: 5px 25px;
    }

    .footer ol {
        display: block;
    }

    .footer li {
        max-width: none;
        padding-right: 0;
        margin-bottom: 25px;
    }

    .footer li:last-child {
        margin-bottom: 0;
    }

    /*  ------------------------------- contact*/

    .contactUS {
        margin-top: 46px;
    }

    .contactUS .container {
        padding: 50px 124px;
    }

    .containerLight {
        padding: 0 124px;
    }

    .form {
        flex-direction: column;
    }

    .right {
        width: 100%;
        margin-top: 64px;
    }

    .frame {
        margin: 64px 0;
    }

    .frame .containerLight {
        padding: 0;
    }
}


/*----------------------------------- 375 ----*/

@media (max-width: 376px) {
    .container {
        padding: 0 16px;
    }

    .main {
        background: none;
        min-height: 0;
    }

    .menu {
        margin-top: 24px;
    }

    .greeting {
        margin-top: 36px;
        text-align: center;
    }

    .mainHead {
        max-width: none;
        font-size: 32px;
        font-weight: 300;
        line-height: 37px;
    }


    .greeting .text {
        max-width: none;
        margin-top: 12px;
    }

    .button {
        display: inline-block;
        margin-top: 32px;
        margin-bottom: 41px;
        padding: 8px 15px;
        font-size: 12px;
        line-height: 26px;
    }

    .content {
        margin-top: 48px;
    }

    .treeHead {
        font-size: 24px;
        font-weight: 300;
        line-height: 38px;
    }

    .what-we-do {
        margin-top: 32px;
    }

    .card {
        padding-bottom: 21px;
    }

    .card a {
        margin-top: 0;
    }

    .something {
        padding-bottom: 64px;
    }

    .something .text {
        padding: 0;
    }

    .smart {
        margin-top: 82px;
    }

    .smart h5 {
        top: 16px;
        right: 16px;
        font-size: 16px;
        line-height: 19px;
    }

    .appBox {
        flex-direction: column;
        margin-top: 16px;
    }

    .appBox .app:first-child {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .app h6 {
        top: 16px;
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }

    .footer {
        text-align: center;
    }

    .footer .container {
        padding: 0 16px;
    }

    .footerUp {
        display: block;
        padding-top: 18px;
        padding-bottom: 40px;
    }

    .intersted-to-woek {
        width: 100%;
        margin-bottom: 40px;
    }

    .intersted-to-woek h3 {
        max-width: 240px;
        margin: 0 auto;
        text-align: center;
    }

    .footer ol {
        padding: 32px 0;
        text-align: left;
    }

    .footer li {
        margin-bottom: 17px;
    }

    .copyright {
        padding-bottom: 32px;
    }


    /*  ------------------------------- contact*/

    .contactUS .container {
        padding: 50px 16px;
    }

    .toHead {
        font-size: 24px;
        line-height: 28px;
    }

    .contactUS p {
        padding-top: 32px;
        font-size: 16px;
        font-weight: normal;
    }

    .containerLight {
        padding: 0 16px;
    }

    .left {
        max-width: none;
        padding-left: 24px;
        padding-right: 24px;
    }

    .right {
        width: 100%;
        margin-top: 32px;
        padding: 36px;
        font-size: 14px;
    }

    .right h4 {
        margin-bottom: 32px;
        font-size: 16px;
    }

    .enter {
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 13px 26px;
    }

    .send {
        margin-top: 18px;
        padding: 15px 0;
    }

    .frame {
        margin: 32px 0;
    }
    iframe {
        height: 350px;
    }
}
