// В данном файле указываются общие для блоков-обёрток настройки Отображения

body {
	// Вертикальное заполнение по высоте header, main и footer
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	// Настройка горизонтальной ориентации экрана (+ general, header и footer)
	@media (min-aspect-ratio: $proportion-land) {
		flex-direction: row;
	}

	// Лёгкая версия (везде)
	&.light {
		display: block;
	}
}

main {
	// позиция для отсутствия движения верхних бирок при наведении на боковые
	position: relative;

	// Горизонтальное заполнение по ширине left, right и center
	display: flex;
	justify-content: space-between;
	align-items: center;

	// Настройка высоты минус header и footer
	height: calc(100% - 100px - 70px);

	// Настройка горизонтальной ориентации экрана - заполнение по высоте
	@media (min-aspect-ratio: $proportion-land) {
		height: 100%;
	}

	// Лёгкая версия 
	&.light {
		display: block;
		height: auto;
	}
}

//! ------------------------ Бирки
.left,
.right,
.up,
.down {
	&-tag {
		position: absolute;
		z-index: $index-tag;
		color: $title-light;
		font-size: 18px;
		// background-color: $background-light;

		&:hover {
			cursor: pointer;
			color: $text-info;
		}
	}
}

.left,
.right {
	&-tag {
		width: $width-horz-tag;
		height: $height-horz-tag;
		line-height: $height-horz-tag;

		// Для узких экранов (+ header и footer)
		@include screen-slim {
			width: $width-horz-tag - $d-slim-tag;
			height: $height-horz-tag - $d-slim-tag;
			line-height: $height-horz-tag - $d-slim-tag;
			font-size: 14px;
		}
	}
}

.up,
.down {
	&-tag {
		left: 50%;
		transform: translateX(-50%);
		width: $width-vert-tag;
		height: $height-vert-tag;
		text-align: center;

		@include screen-slim {
			width: $width-vert-tag - $d-slim-tag;
			height: $height-vert-tag - $d-slim-tag;
			font-size: 14px;
		}
	}
}

.left-tag {
	padding-left: 10px;
}

.right-tag {
	right: 0;
	padding-right: 10px;
	text-align: right;
}

.up-tag {
	top: 0;
	line-height: 100px;

	@include screen-slim {
		line-height: 70px;
	}
}

.down-tag {
	bottom: 0;
	line-height: 200px;

	@include screen-slim {
		line-height: 130px;
	}
}

//! ------------------------ Контент
.left,
.right,
.up,
.down {
	background-color: $background-dark;

	&::after,
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		background-color: $background-dark;
	}

	&.light {
		display: none;
	}

	&__content {
		display: none;
	}
}

.left,
.right {
	width: 0;
	height: $height-horz-block;

	// Переход в полноэкранный режим 1-6 (+ footer (кнопка) 
	@include screen-full {
		height: 100%;
	}

	&::after,
	&::before {
		top: 50%;
		width: $width-horz-tag;
		height: $height-horz-tag;

		@include screen-slim {
			width: $width-horz-tag - $d-slim-tag;
			height: $height-horz-tag - $d-slim-tag;
		}
	}
}

.left {
	order: 1;

	&::after,
	&::before {
		right: 100%;
		transform: translate(100%, -50%);
		padding-left: 10px;
		clip-path: polygon(0 0, 100% 50%, 0 100%);
	}

	&::before {
		background: url(../img/left_logo.svg) center center no-repeat content-box;
		background-size: contain;
	}
}

.right {
	order: 3;

	&::after,
	&::before {
		left: 100%;
		transform: translate(-100%, -50%);
		padding-right: 10px;
		clip-path: polygon(100% 0, 0 50%, 100% 100%);
	}

	&::before {
		background: url(../img/right_logo.svg) center center no-repeat content-box;
		background-size: contain;
	}

	&__content {
		overflow: hidden; // страховка из-за перехода от right: 0 к 100
	}
}

.center {
	width: $width-vert-block;
	height: 100%;

	// Вертикальное заполнение по высоте up, info и down
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	order: 2;

	// Переход в полноэкранный режим 2-5
	@include screen-full {
		width: 100%;
	}

	// Лёгкая версия 4-7
	&.light {
		display: block;
		width: 100%;
		height: auto;
	}
}

.up,
.down {
	width: 100%;
	height: 0;
	padding: 0 20px;

	@include mobile {
		padding: 0 10px;
	}

	// Переход в полноэкранный режим 3-5
	// Отключение невидимой области наведения (ширина не меняется) 
	@include screen-full {
		height: 0;
	}

	&::after {
		left: 50%;
		width: $width-vert-tag;
		height: $height-vert-tag;

		@include screen-slim {
			width: $width-vert-tag - $d-slim-tag;
			height: $height-vert-tag - $d-slim-tag;
		}
	}
}

.up {
	order: 1;

	&::after {
		bottom: 100%;
		transform: translate(-50%, 100%);
		clip-path: polygon(0 0, 100% 0, 50% 100%);
	}
}

.down {
	order: 3;

	&::after {
		top: 100%;
		transform: translate(-50%, -100%);
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
	}
}

//! ------------------------ Текст
// Блок-обёртка информационного содержимого 1-4 (+vert)
.info {
	position: relative;
	z-index: -1;
	width: 50%; // меньше положенного для анимации наведения
	height: 50%; // не оказывает влияния на анимацию наведения
	margin: 0 auto;
	order: 2;

	// Лёгкая версия 5-7
	&.light {
		width: 100%;
	}

	// Общие для всех вложенных блоков в info настройки + при наведении 1б-4 (+ vert и horz)
	&__up,
	&__down,
	&__left,
	&__right {
		display: none;
		width: 100%;
		height: 100%;
		padding: 20px;
		overflow: hidden;
		@include background;

		@include mobile {
			padding: 10px;
		}

		// Лёгкая версия 7-7
		&.light {
			display: block;
			overflow: visible;
		}

		& p {
			mix-blend-mode: overlay;
		}
	}
}