// Часть настроек в light и land
footer {
	position: relative;
	z-index: $index-head-foot;
	height: 70px;
	line-height: 70px;
	background-color: $background-dark;
}

// Надпись
// Часть настроек в light и land
.copyright {
	color: $text-info;
	text-align: right;
	margin-right: 30px;

	@include mobile {
		margin-right: 10px;
	}

	// Отключение полной надписи для малых экранов
	&__full {

		@include tablet {
			display: none;
		}
	}
}

// Кнопка "Закрыть всё" для полноэкранного режима для touch-устройств
.close-all {
	display: none;
	@include position-center;
	width: 60px;
	height: 60px;
	border-radius: 30px; // чтобы при растягивании был прямоугольник
	border: 2px solid $background-dark;
	fill: $background-dark;
	opacity: 0.5;
	transition: all $timeout;

	// Переход в полноэкранный режим (+ main)
	@include screen-full {
		display: block;
	}

	// Х внутри кнопки
	& svg {
		@include position-center;
	}
}

// Поведение при наведении
// Часть настроек в light и land
#content-left:checked~.global,
#content-right:checked~.global,
#content-up:checked~.global,
#content-down:checked~.global {
	.close-all {
		width: 180px;
		height: 60px;
		border: 2px solid #aaa;
		fill: #aaa;
		opacity: 1;
	}
}