// В данном файле указываются общие для блоков-обёрток настройки Наведение 

//! --------------------------------------- Нажатие
// ------------------------- Левый
#content-left:checked~.global {
	main {
		justify-content: flex-start;
	}

	.left {
		&-tag {
			display: none;
		}

		position: relative;
		z-index: $index-hover;
		width: $width-horz-block;
		transition: all $timeout;

		&::after,
		&::before {
			right: 0;
			z-index: -1;
			opacity: 0.3;
		}

		&__content {
			display: flex;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		@include screen-full {
			width: 50%;

			&~.center {
				width: 50%;

				& .info {
					height: 100%;
				}
			}
		}

		@include screen-full-horz {
			position: absolute;
			top: 0;
			width: 100vw;
			height: 50%;

			&~.center {
				width: 100%;

				& .info {
					position: absolute;
					bottom: 0;
					height: 50%;
				}
			}
		}
	}

	.center {
		width: $width-horz-block;

		.info {
			width: 100%;
			height: $height-horz-block;
			opacity: 1;
			z-index: unset;

			.close {
				display: block;
			}

			&__left {
				display: block;
				position: relative;
				z-index: $index-hover;
				overflow: auto;
				background: $background-light;
			}
		}
	}
}

// ------------------------- Правый
#content-right:checked~.global {
	main {
		justify-content: flex-end;
	}

	.right {
		&-tag {
			display: none;
		}

		position: relative;
		z-index: $index-hover;
		width: $width-horz-block;
		transition: all $timeout;

		&::after,
		&::before {
			left: 0;
			z-index: -1;
			opacity: 0.3;
		}

		&__content {
			display: flex;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		@include screen-full {
			width: 50%;

			&~.center {
				width: 50%;

				& .info {
					height: 100%;
				}
			}
		}

		@include screen-full-horz {
			position: absolute;
			top: 0;
			width: 100vw;
			height: 50%;

			&~.center {
				width: 100%;

				& .info {
					position: absolute;
					bottom: 0;
					height: 50%;
				}
			}
		}
	}

	.center {
		width: $width-horz-block;

		.info {
			width: 100%;
			height: $height-horz-block;
			opacity: 1;
			z-index: unset;

			.close {
				display: block;
			}

			&__right {
				display: block;
				position: relative;
				z-index: $index-hover;
				overflow: auto;
				background: $background-light;
			}
		}
	}
}

// ------------------------- Верхний
#content-up:checked~.global {

	.up {
		&-tag {
			display: none;
		}

		position: relative;
		z-index: $index-hover;
		height: $height-vert-block;
		transition: all $timeout;

		&::after {
			bottom: 0;
			z-index: -1;
			opacity: 0.3;
		}

		&__content {
			display: flex;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}

	.center {
		justify-content: flex-start;

		.info {
			width: 100%;
			height: 70%;
			opacity: 1;
			z-index: unset;

			@include screen-full {
				height: 85%;
			}

			.close {
				display: block;
			}

			&__up {
				display: block;
				position: relative;
				z-index: $index-hover;
				overflow: auto;
				background: $background-light;
			}
		}
	}
}

// ------------------------- Нижний
#content-down:checked~.global {

	.down {
		&-tag {
			display: none;
		}

		position: relative;
		z-index: $index-hover;
		height: $height-vert-block;
		transition: all $timeout;

		&::after {
			top: 0;
			z-index: -1;
			opacity: 0.3;
		}

		&__content {
			display: flex;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}

	.center {
		justify-content: flex-end;

		.info {
			width: 100%;
			height: 70%;
			opacity: 1;
			z-index: unset;

			@include screen-full {
				height: 85%;
			}

			.close {
				display: block;
			}

			&__down {
				display: block;
				position: relative;
				z-index: $index-hover;
				overflow: auto;
				background: $background-light;
			}
		}
	}
}


// Приглушение бирок в полноэкранном режиме
#content-left:checked~.global,
#content-right:checked~.global,
#content-up:checked~.global,
#content-down:checked~.global {

	@include screen-full {
		.tag {
			display: none;
		}

		.left::after,
		.left::before,
		.right::after,
		.right::before,
		.up::after,
		.down::after {
			opacity: 0.3;
		}
	}
}

//! --------------------------------------- Наведение
#content-off:checked~.global {

	// ------------------------- Левый
	.left-tag:hover {

		&~.left {
			position: relative;
			transition: all $timeout;
			width: 40px;

			&::after,
			&::before {
				right: 0;
			}
		}

		&~.center .info {
			opacity: 1;
			align-self: flex-start;
			margin: unset;
			z-index: -1;

			@include screen-full {
				margin: 0 auto;
			}

			&__left {
				display: block;

				* {
					mix-blend-mode: overlay;
				}
			}
		}
	}

	// ------------------------- Правый
	.right-tag:hover {

		&~.right {
			position: relative;
			transition: all $timeout;
			width: 40px;

			&::after,
			&::before {
				left: 0;
			}
		}

		&~.center .info {
			opacity: 1;
			align-self: flex-end;
			margin: unset;
			z-index: -1;

			@include screen-full {
				margin: 0 auto;
			}

			&__right {
				display: block;

				* {
					mix-blend-mode: overlay;
				}
			}
		}
	}

	// ------------------------- Верх
	.up-tag:hover {

		&~.center {

			.up {
				position: relative;
				transition: all $timeout;
				height: 40px;

				&::after {
					bottom: 0;
				}
			}

			.info {
				opacity: 1;
				z-index: -1;

				&__up {
					display: block;

					* {
						mix-blend-mode: overlay;
					}

					img,
					video {
						display: none;
					}
				}
			}
		}

	}

	// ------------------------- Низ
	.down-tag:hover {

		&~.center {

			.down {
				position: relative;
				transition: all $timeout;
				height: 40px;

				&::after {
					top: 0;
				}
			}

			.info {
				opacity: 1;
				z-index: -1;

				&__down {
					display: block;

					* {
						mix-blend-mode: overlay;
					}

					img,
					a {
						display: none;
					}
				}
			}
		}
	}
}