footer {
	position: relative;
	z-index: $index-head-foot;
	height: 70px;
	line-height: 70px;
	background-color: $background-dark;

	// Настройка горизонтальной ориентации экрана (+ general, main и header)
	@include screen-land {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 80px;
		height: 100%;
	}
}

// Надпись
.copyright {
	color: $text-info;
	text-align: right;
	margin-right: 30px;

	// Настройка горизонтальной ориентации экрана 2-4
	@include screen-land {
		text-align: center;
		margin-right: 0;
	}

	@include mobile {
		margin-right: 10px;
	}

	// Отключение полной надписи для малых экранов
	&__full {

		// Настройка горизонтальной ориентации экрана
		@include screen-land {
			display: none;
		}

		@include tablet {
			display: none;
		}
	}
}

// Кнопка "Закрыть всё" для полноэкранного режима для touch-устройств
.close-all {
	display: none;
	@include position-center;
	width: 60px;
	height: 60px;
	border-radius: 30px; // чтобы при растягивании был прямоугольник
	border: 2px solid $background-dark;
	fill: $background-dark;
	opacity: 0.5;
	transition: all $timeout;

	// Переход в полноэкранный режим (+ main)
	@include screen-full {
		display: block;
	}

	// Х внутри кнопки
	& svg {
		@include position-center;
	}
}

// Поведение при наведении
#content-left:checked~footer:hover,
#content-right:checked~footer:hover,
#content-up:checked~footer:hover,
#content-down:checked~footer:hover {
	.close-all {
		width: 180px;
		height: 60px;
		border: 2px solid #aaa;
		fill: #aaa;
		opacity: 1;

		// Настройка горизонтальной ориентации экрана
		@include screen-land {
			width: 60px;
			height: 180px;
		}
	}
}