// В данном файле указываются персональные настройки внутри горизонтальных блоков-обёрток

.left,
.right {

	// Дополнительные настройки к main
	// Заполнение изображения и label
	&__content {
		flex-direction: column;
		justify-content: space-around;
		padding: 20px;

		// Внутреннее перестроение для сохранения правильных пропорций 1-4 
		@include aspect-ratio-horz {
			flex-direction: row;
			justify-content: space-between;
		}

		// Обёртка для изображения
		&-img {
			// Выравнивание изображения по вертикали
			display: flex;
			align-items: center;

			height: 70%;
			width: 100%;
			text-align: center;
			overflow: hidden;

			// Внутреннее перестроение для сохранения правильных пропорций 2-4 
			@include aspect-ratio-horz {
				height: 100%;
				width: 75%;
			}

			// Настройка изображения
			& picture,
			& video {
				display: none;
				object-fit: contain;
				object-position: 50% 50%;
			}
		}

		// Обёртка для заполнение label в зависимости от пропорций
		&-label {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 25%;
			overflow: hidden;

			// Внутреннее перестроение для сохранения правильных пропорций 3-4 
			@include aspect-ratio-horz {
				flex-direction: column;
				width: 25%;
				height: 100%;
			}

			// Миниатюры
			& label {
				width: 30%;
				max-height: 100px;
				overflow: hidden;

				// Внутреннее перестроение для сохранения правильных пропорций 4-4 
				@include aspect-ratio-horz {
					width: 70%;
					height: 30%;
				}

				// Настройка миниатюры 
				& img {
					object-fit: cover;
				}
			}
		}
	}
}

// Дополнительные настройки к main
.info__left,
.info__right {

	& h2 {
		margin: 0 0 20px 30px;
		font-weight: 700;
	}
}

// Отображение изображения в зависимости от input.checked (светлая зона)
#left-1:checked~.global .left-img-1,
#left-2:checked~.global .left-img-2,
#left-3:checked~.global .left-img-3,
#right-1:checked~.global .right-img-1,
#right-2:checked~.global .right-img-2,
#right-3:checked~.global .right-img-3 {
	display: block;
}

// Отображение миниатюр label в зависимости от input.checked (тёмная зона)
#left-1:checked~.global .left-label-1,
#left-2:checked~.global .left-label-2,
#left-3:checked~.global .left-label-3,
#right-1:checked~.global .right-label-1,
#right-2:checked~.global .right-label-2,
#right-3:checked~.global .right-label-3 {
	opacity: 0.3;
}