//! ------------------------------------------ Копия для input
#version:checked~.global {
	display: block;
	background: none;

	&::before,
	&::after {
		content: none;
	}

	@include mobile {
		font-size: 12px;
		line-height: 14px;
	}

	.warning:hover {

		p.light,
		p.no-js,
		p.to-full {
			display: block;
		}

		p.normal {
			display: none;
		}
	}

	//--------------------------- header
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 80px;
	}

	.header {
		display: block;
		width: 100%;

		&__menu {
			display: inline-block;
			width: 100%;
			text-align: center;
		}

		a {
			width: 23%;
			height: 100%;
			line-height: 80px;

			@include tablet {
				padding: 40px 0;
			}
		}
	}

	.logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-55%);
		z-index: -1;
		width: 60px;
		height: 60px;
		opacity: 0.5;

		&:hover {
			width: 60px;
			height: 60px;
		}

		&__card {
			display: none;
		}
	}

	//--------------------------- main
	main {
		display: block;
		position: static;
		height: auto;
	}

	.left,
	.right,
	.up,
	.down {
		&-tag {
			display: none;
		}

		display: none;
	}

	.center {
		display: block;
		width: 100%;
		height: auto;
	}

	.info {
		position: static;
		z-index: unset;
		width: 100%;
		height: auto;
		opacity: 1;
		margin-top: 70px;

		p {
			mix-blend-mode: unset;
		}

		&__up,
		&__down,
		&__left,
		&__right {
			display: block;
			overflow: visible;
			background: none;

			h2 {
				display: block;
			}
		}
	}

	//--------------------------- vert
	.text-up-1,
	.text-up-2,
	.text-up-3,
	.text-down-1,
	.text-down-2,
	.img-up-1,
	.img-up-2,
	.img-up-3 {
		display: block;
	}

	.text-down-1 {
		margin: 10px 20px;
		text-align: center;
		margin: 0 auto;
	}

	.text-down-2 {
		position: relative;
		z-index: -1;
		display: block;
		max-width: 600px;
		margin: 0 auto;
	}

	hr {
		margin: 20px auto;
	}

	.rgu,
	.gb {
		display: block;

		&__text {
			width: 100%;
			height: auto;

			&::after {
				opacity: 0;
			}
		}
	}

	//--------------------------- footer
	footer {
		display: block;
		position: static;
		width: 100%;
	}

	.close-all {
		display: none;
	}
}


//! ------------------------------------------ Копия для @media
@media (max-width: $slim-width),
(max-height: $slim-width) {

	//--------------------------- general
	.global {
		display: block;
		background: none;

		&::before,
		&::after {
			content: none;
		}

		@include mobile {
			font-size: 12px;
			line-height: 14px;
		}
	}

	.warning:hover {

		p.light,
		p.slim-screen,
		p.no-js {
			display: block;
		}

		p.normal,
		p.to-full {
			display: none !important;
		}
	}

	//--------------------------- header
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 80px;
	}

	.header {
		display: block;
		width: 100%;

		&__menu {
			display: inline-block;
			width: 100%;
			text-align: center;
		}

		a {
			width: 23%;
			height: 100%;
			line-height: 80px;

			@include tablet {
				padding: 40px 0;
			}
		}
	}

	.logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-55%);
		z-index: -1;
		width: 60px;
		height: 60px;
		opacity: 0.5;

		&:hover {
			width: 60px;
			height: 60px;
		}

		&__card {
			display: none;
		}
	}

	//--------------------------- main
	main {
		display: block;
		position: static;
		height: auto;
	}

	.left,
	.right,
	.up,
	.down {
		&-tag {
			display: none;
		}

		display: none;
	}

	.center {
		display: block;
		width: 100%;
		height: auto;
	}

	.info {
		position: static;
		z-index: unset;
		width: 100%;
		height: auto;
		opacity: 1;
		margin-top: 70px;

		p {
			mix-blend-mode: unset;
		}

		&__up,
		&__down,
		&__left,
		&__right {
			display: block;
			overflow: visible;
			background: none;

			h2 {
				display: block;
			}
		}
	}

	//--------------------------- vert
	.text-up-1,
	.text-up-2,
	.text-up-3,
	.text-down-1,
	.text-down-2,
	.img-up-1,
	.img-up-2,
	.img-up-3 {

		display: block;
	}

	.text-down-1 {
		margin: 10px 20px;
		text-align: center;
		margin: 0 auto;
	}

	.text-down-2 {
		position: relative;
		z-index: -1;
		display: block;
		max-width: 600px;
		margin: 0 auto;
	}

	hr {
		margin: 20px auto;
	}

	.rgu,
	.gb {
		display: block;

		&__text {
			width: 100%;
			height: auto;

			&::after {
				opacity: 0;
			}
		}
	}

	//--------------------------- footer
	footer {
		display: block;
		position: static;
		width: 100%;
	}

	.close-all {
		display: none;
	}
}