//* Параметры адаптивного поведения
// BreakPoints
$pc-width: 1310px; // Основной контейнер
$laptop-width: 1024px; // Переход в полноэкранный режим
$tablet-width: 768px; // Планшет
$mobile-width: 375px; // Мобильный
$slim-width: 300px; // Лёгкая версия
$slim-height: 450px; // Лёгкая версия

// Соотношение сторон экрана
$proportion-land: "5/2";
$proportion-port: "3/4";

// Минимальная высота
$break-height: 640px;

// Контейнер для содержания
$content-width: 600px;

// Задержка наведения основная
$timeout: 300ms;

// * Цветовая палитра
// Фон
$background-dark: rgba(0, 0, 0, 0.7);
$background-light: rgba(255, 250, 245, 0.8);

// Текст
$text-light: #eed5c3;
$text-dark: #61330d;
$text-info: #999;
$text-menu: #ebb289;

// Заголовок
$title-light: #afb894;
$title-dark: #192c01;

// Кнопки
$button-pink: #d34646;

// * Параметры для блоков
// Размер секций для срабатывания наведения
$hover-space: 15%;

// Ширина и высота (исходя из (100% - 15% ) / 2 ) горизонтальных секций
$width-horz-block: 42.5%;
$height-horz-block: 60%;

// Ширина (исходя из 100% - 15% * 2 ) и высота вертикальных секций
$width-vert-block: 70%;
$height-vert-block: 15%;

// * Бирки
// Горизонтальные
$width-horz-tag: 150px;
$height-horz-tag: 200px;

// Вертикальные
$width-vert-tag: 200px;
$height-vert-tag: 150px;

// Дельта для узкого экрана
$d-slim-tag: 50px;

// * Позиции Z-index
$index-tag: 5;
$index-hover: 10;
$index-close: 15;
$index-preloader: 20;
$index-head-foot: 15;
